html{
    scroll-snap-type: y mandatory;
}

.App {
    background-color: #1c1c1c;
    height: 100vh;
    display: grid;
    place-items: center;
}

.video-container {
    height: 100vh;
    max-height: 720px;
    width: 80%;
    max-width: 370px;
    border-radius: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
}

.video-container::-webkit-scrollbar {
    display: none;
}

.video-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media only screen and (max-width: 440px) {
    .video-container {
        width: 100%;
        height: 100%;
    }
}